
header {
    width: 100%;
    padding: 12px 10%;
    border-bottom: 1px solid #ddd;

}

header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    font-size: 14px;
}

header nav ul li a.active {
    text-decoration: underline;
}