
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #100C21;
}

footer {
    font-size: 14px ;
    color: #f5f5f5;
}