.form__edit__data {
    width: min(400px, 95%);
    margin: 1rem auto;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.form__edit__data button[type='submit'] {
    width: fit-content;
    padding: 4px 18px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #999;
    margin: 5px auto;
    background-color: rgb(4, 151, 82);
    color: #fff;
}

.form__edit__data div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.form__edit__data input,
.form__edit__data textarea {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #999;
    font-size: 12px;

}

.form__edit__data textarea {
    resize: none;
}

