*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  /* Download  Outfit Font  */
}

body {
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
